<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <style>
    #searchAll {

    }
  </style>
</head>

<body>
  <nav th:fragment="global">
    <ul class="menu">
      <li class="item"><a href="#" th:href="@{/bbs/list?category=B0101}">공연</a></li>
      <li class="item"><a href="#" th:href="@{/bbs/list?category=B0102}">홍보</a></li>
      <li class="item"><a href="#" th:href="@{/bbs/list?category=B0103}">후기</a></li>
      <li class="item"><a href="#" th:href="@{/bbs/list?category=B0104}">지도</a></li>
      <form class="search_all">
          <input id="searchAll" class="search__in" type="text">
          <button id="searchBtn">검색</button>
      </form>
    </ul>

  </nav>
  <nav th:fragment="admin">

  </nav>
  <nav th:fragment="my-page">
    <ul class="depth1">
      <li class="item">
        <a th:href="@{/members/{email}/detail(email=${s_email})}">내정보조회</a>
      </li>
      <li class="item">
        <a th:href="@{/members/{memberId}/profile(memberId=${s_memberId})}">프로파일수정</a>
      </li>
      <li class="item">
        <a th:href="@{/members/{email}/edit(email=${s_email})}">내정보수정</a>
      </li>
      <li class="item">
        <a th:href="@{/members/{email}/out(email=${s_email})}">탈퇴</a>
      </li>
    </ul>
  </nav>
  <scirpt>

    //검색
    const $searchType = document.getElementById('searchType');
    const $keyword    = document.getElementById('keyword');
    const $searchBtn  = document.getElementById('searchBtn');

    //검색 버튼 클릭시
    $searchBtn?.addEventListener('click', search_f);

    //키워드 입력필드에 엔터키 눌렀을때 검색
    $keyword?.addEventListener('keydown', e=>{
    if(e.key === 'Enter') {
    search_f(e);
    }
    });

    function search_f(e){
    //검색어입력 유무체크
    if($keyword.value.trim().length === 0){
    alert('검색어를 입력하세요');
    $keyword.focus();$keyword.select(); //커서이동
    return false;
    }
    const url = `/lists/search`;
    location.href = url;
    }

  </scirpt>
</body>
</html>